<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>We will be right back.</h1>
        <p>The site is under maintenance and will be back up soon.</p>
    </body>
</html>